.content 
  font-size 15px !important

.site-name
  display: none !important

.logo 
  height: 1.8rem !important
  vertical-align: middle !important

.content a > code 
  background-color rgba(86, 155, 45, 0.13)

.sidebar a.sidebar-link
  font-size 15px !important
  font-weight normal !important

.sidebar a.sidebar-link.active
  font-weight bold !important

.sidebar > .sidebar-links > li:not(:first-child) 
  margin-top 0.25rem !important

.custom-block
  border-radius 0.6rem !important

.callout:hover
  background black
  text-decoration none !important

.callout
  background #363537
  display block
  padding 1rem 1.5rem
  border-radius 0.6rem
  color white
  font-weight normal
  .title
    font-size 1.3rem
    font-weight bold
    margin-bottom 0
  p
    margin 0.2rem 0
  
.light:hover
  background #e1e7ed

.light
  background #f0f4f8  
  color black

.grid
  display grid
  grid-auto-flow column
  gap 1rem
  margin 1rem 0
  
video, iframe[title="YouTube video player"]
  border-radius 0.6rem

.code-copy
  position absolute
  right 30px
  top 16px